<!-- Start header area -->
<header id="header" class="header-area header-{{color}}">
    <div class="main-navbar-area sticky-header">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="/public">
                            <img src="/public/themes/{{theme.ID}}/images/logo/logo-2.png" alt="لوگو">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/public">
                        <img src="/public/themes/{{theme.ID}}/images/logo/logo-1.png" alt="لوگو">
                        <img src="/public/themes/{{theme.ID}}/images/logo/logo-2.png" alt="لوگو">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav ms-auto" id="menu">
                            <li class="nav-item">
                                <a href="/public" class="nav-link">صفحه اصلی</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle">راهنما<i class="fal fa-plus"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="/learn" class="nav-link">آموزش کار با سامانه</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/return-rules" class="nav-link">قوانین مرجوعی</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/rules" class="nav-link">قوانین فروش</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/faq" class="nav-link">سوالات متداول</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/testimonial" class="nav-link">نظرات مشتریان</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/pricing" class="nav-link">تعرفه</a>
                            </li>
                            <li class="nav-item">
                                <a href="/blog" class="nav-link">بلاگ</a>
                            </li>
                            <li class="nav-item">
                                <a href="/services" class="nav-link">خدمات</a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact" class="nav-link">تماس با ما</a>
                            </li>
                            <li class="cta-btn">
                                <a href="/contact" class="btn secondary-btn">دانلود اپلیکیشن سلورا</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End header area -->
