{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}

{% include "components/header.html" with color="9" %}
{% block script %}
<script>
    const sendComment = () => {
        fetch('/api/v1/user/comment/create', {
            method: 'POST',
            body: JSON.stringify({
                post_id: parseInt(document.getElementById("post_id").value),
                name: document.getElementById("name").value,
                body: document.getElementById("body").value,
                email: document.getElementById("email").value,
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((response) => response.json())
            .then(data => {
                alert(data.message)
                document.getElementById("name").value = ""
                document.getElementById("body").value = ""
                document.getElementById("email").value = ""
                window.location.reload()
            })
    }
</script>
{% endblock %}
<!-- Start Page Name area-->
<div class="page-title-area">
    <div class="container">
        <div class="content text-center">
            <h1>{{post.Title}}</h1>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="/public">صفحه اصلی</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline"><a href="/blog">بلاگ</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active">جزئیات وبلاگ</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Name area -->

<!-- Start Blog Details Area -->
<div class="blog-details-area pt-120 pb-90">
    <div class="container">
        <div class="row justify-content-center gx-xl-5">
            <div class="col-lg-8">
                <div class="blog-description mb-50">
                    <article class="item-single">
                        <div class="image">
                            <div class="lazy-container aspect-ratio">
                                <img alt="تصویر وبلاگ" class="lazyload lazy-image"
                                     data-src="{{post.Thumbnail}}" src="/public/themes/{{theme.ID}}/images/placeholder.png">
                            </div>
                            <a class="btn primary-btn primary-btn-2" href="/404-error"><i class="fas fa-share-alt"></i>اشتراک
                                گذاری</a>
                        </div>
                        <div class="content">
                            <ul class="info-list">
                                <li><i class="far fa-calendar-alt"></i>{{post.UpdatedAt}}</li>
                                <li><i class="fas fa-user"></i>{{post.User.Firstname}} {{post.User.Lastname}}</li>
                                <li><i class="fas fa-tag"></i>
                                    {% for category in post.Categories %}
                                    <span style="margin-right: 5px;">{{category.Name}}</span>
                                    {% endfor %}
                                </li>
                            </ul>
                            <div>
                                {{post.Body}}
                            </div>
                        </div>
                    </article>
                </div>
                <div class="more-news mb-20">
                    <span class="h2 d-block mb-20">اخبار بیشتر</span>
                    <div class="row">
                        {% for post in last_posts %}
                        <div class="col-md-6">
                            <article class="item-single mb-30">
                                <div class="image">
                                    <a class="lazy-container aspect-ratio" href="/blog/{{post.Slug}}">
                                        <img alt="تصویر وبلاگ" class="lazyload lazy-image"
                                             data-src="{{post.Thumbnail}}" src="/public/themes/{{theme.ID}}/images/placeholder.png">
                                    </a>
                                </div>
                                <div class="content">
                                    <ul class="info-list">
                                        <li><i class="far fa-calendar-alt"></i>{{post.UpdatedAt}}</li>
                                        <li><i class="fas fa-user"></i>{{post.User.Firstname}} {{post.User.Lastname}}</li>
                                    </ul>
                                    <h3 class="title m-0">
                                        <a href="/blog/{{post.Slug}}">
                                           {{post.Title}}
                                        </a>
                                    </h3>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="comments mb-30">
                    <div class="comment-box mb-50">
                        <span class="h2 d-block mb-20">نظرات</span>
                        <ol class="comment-list">
                            {% for comment in comments %}
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-author">
                                        <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                                            <img alt="image" class="lazyload lazy-image"
                                                 data-src="https://www.gravatar.com/avatar/{{comment.EmailHash}}" src="https://www.gravatar.com/avatar/{{comment.EmailHash}}"/>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <h4 class="name">{{comment.Name}}</h4>
                                        <p>{{comment.Body}}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="comment-reply mb-30">
                        <span class="h2 d-block">ارسال نظر</span>
                        <p class="comment-notes">
                            <span id="email-notes">آدرس ایمیل شما منتشر نخواهد شد. *</span>
                            فیلدهای الزامی علامت گذاری شده اند
                            <span class="required">*</span>
                        </p>
                        <form action="/internal/api/v1/user/comment/create" class="comment-form" id="commentForm" method="post" onsubmit="event.preventDefault();sendComment()">
                            <input id="post_id" name="post_id" type="hidden" value="{{post.ID}}">
                            <div class="form-group mb-20">
                                <input class="form-control" id="name" name="name" placeholder=" نام * " required="required"
                                       type="text"/>
                            </div>
                            <div class="form-group mb-20">
                                <input class="form-control" id="email" name="email" placeholder=" پست الکترونیک * " required="required"
                                       type="email"/>
                            </div>
                            <div class="form-group mb-30">
                                <textarea class="form-control" id="body" name="body" placeholder="نظر شما" required="required"
                                          rows="6"></textarea>
                            </div>
                            <button class="btn primary-btn primary-btn-5" type="submit">
                                ارسال نظر
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-widget-area">
                    <div class="widget widget-search mb-30">
                        <h3 class="title">جستجوی پست ها</h3>
                        <form class="search-form">
                            <input class="search-input" placeholder="دنبال چی میگردی ... ؟!" type="search">
                            <button class="btn-search" type="submit">
                                <i class="far fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="widget widget-social-link mb-30">
                        <h3 class="title">ما رو دنبال کنید</h3>
                        <ul class="list-unstyled m-0">
                            <li class="d-inline">
                                <a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                        class="fab fa-facebook-square"></i></a>
                            </li>
                            <li class="d-inline ms-1">
                                <a class="twitter" href="https://www.twitter.com/" target="_blank"><i
                                        class="fab fa-twitter-square"></i></a>
                            </li>
                            <li class="d-inline ms-1">
                                <a class="google" href="https://www.google.com/" target="_blank"><i
                                        class="fab fa-google-plus-square"></i></a>
                            </li>
                            <li class="d-inline ms-1">
                                <a class="linkedin" href="https://www.linkedin.com/" target="_blank"><i
                                        class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget-post mb-30">
                        <h3 class="title">پستهای اخیر</h3>
                        {% for post in random_posts %}
                        <article class="article-item mb-30">
                            <div class="image">
                                <a class="lazy-container aspect-ratio" href="/blog/{{post.Slug}}">
                                    <img alt="{{post.Title}}" class="lazyload lazy-image"
                                         data-src="{{post.Thumbnail}}" src="/public/themes/{{theme.ID}}/images/placeholder.png">
                                </a>
                            </div>
                            <div class="content">
                                <h6>
                                    <a href="/blog/{{post.Slug}}">{{post.Title}}</a>
                                </h6>
                                <div class="time">
                                    {{post.UpdatedAt}}
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                    <div class="widget widget-categories mb-30">
                        <h3 class="title">دسته بندی ها</h3>
                        <ul class="list-unstyled m-0">
                            {% for category in categories %}
                            <li class="d-flex align-items-center justify-content-between">
                                <a href="/category/{{category.ID}}"><i class="fal fa-folder"></i>{{category.Name}}</a>
                                <!--                                <span class="tqy">(11)</span>-->
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget-tag mb-30">
                        <h3 class="title">برچسب ها</h3>
                        <ul class="list-unstyled m-0">
                            {% for tag in tags %}
                            <li class="d-inline-block"><a href="/tag/{{tag.Slug}}">{{tag.Name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget-adds mb-30">
                        <div class="content text-center">
                            <h3>میتونی این قالب رو با 20٪ تخفیف بگیری !!</h3>
                            <a class="btn secondary-btn text-uppercase" href="404-error">بزن بریم !</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Details Area -->
{% include "components/footer.html" with color="3" %}

{% endblock %}
