{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block script %}
<script>
    const userAction = () => {
        fetch('/api/v1/user/ticket/create', {
            method: 'POST',
            body: JSON.stringify({
                guest_name: document.getElementById("guest_name").value,
                guest_mobile: document.getElementById("guest_mobile").value,
                title: document.getElementById("title").value,
                body: document.getElementById("body").value,
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((response) => response.json())
            .then(data => {
                alert(data.message)
                document.getElementById("guest_name").value = ""
                document.getElementById("guest_mobile").value = ""
                document.getElementById("title").value = ""
                document.getElementById("body").value = ""
            })
    }
</script>
{% endblock %}

{% block content %}

{% include "components/header.html" with color="9" %}

<!-- Start Page Name area-->
<div class="page-title-area">
    <div class="container">
        <div class="content text-center">
            <h1>تماس با ما</h1>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index">صفحه اصلی</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active">تماس با ما</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Name area -->

<!-- Start Contact Area -->
<div class="contact-area contact-6 pt-120 pb-90" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="item-single mb-30">
                    <div class="icon">
                        <i class="fal fa-phone-plus"></i>
                    </div>
                    <div class="text">
                        <p dir="ltr"><a href="tel:+98 21 23 45 67">+98 21 2020</a></p>
                        <p dir="ltr"><a href="tel:+990456123789">+98 912 100 7000</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item-single mb-30">
                    <div class="icon">
                        <i class="fal fa-envelope"></i>
                    </div>
                    <div class="text">
                        <p><a href="mailTo:hello@example.com">hello@example.com</a></p>
                        <p><a href="mailTo:info@example.com">info@example.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item-single mb-50">
                    <div class="icon">
                        <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                        <p>سعادت آباد ، بلوار سرو غربی ، ساختمان تجاری اداری سرو</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title">
            <h2 class="title">تماس با ما</h2>
            <p class="">ما از هم صحبتی با شما خوشحال میشیم ، به ما پیام بده تا در اسرع وقت پاسخگوی شما باشیم
                .</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form action="/internal/api/v1/user/ticket/create" id="contactForm" method="post"
                      onsubmit="event.preventDefault(); userAction()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input class="form-control" data-error="لطفا نام خودتون رو وارد کنید" id="guest_name" name="guest_name" placeholder="نام شما"
                                       required type="text"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input class="form-control" data-error="لطفا شمراه همراه خودتون رو وارد کنید" id="guest_mobile" maxlength="11"
                                       minlength="11" name="guest_mobile" placeholder="شماره هماره"
                                       required type="number"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group mb-30">
                                <input class="form-control" data-error="عنوان درخواست خود را وارد نمایید" id="title" name="title" placeholder="عنوان پیام"
                                       required type="text"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-30">
                                <textarea class="form-control" cols="30" data-error="لطفا پیام خودتون رو وارد کنید" id="body" name="body" placeholder="پیامی بنویس ..."
                                          required
                                          rows="8"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button class="btn primary-btn" title="ارسال پیام" type="submit">ارسال</button>
                            <div id="msgSubmit"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area -->

{% include "components/footer.html" with color="3" %}

{% endblock %}
