{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block script %}
<script>
    const userAction = () => {
        fetch('/api/v1/user/ticket/create', {
            method: 'POST',
            body: JSON.stringify({
                guest_name: document.getElementById("guest_name").value,
                guest_mobile: document.getElementById("guest_mobile").value,
                title: document.getElementById("title").value,
                body: document.getElementById("body").value,
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((response) => response.json())
            .then(data => {
                alert(data.message)
                document.getElementById("guest_name").value = ""
                document.getElementById("guest_mobile").value = ""
                document.getElementById("title").value = ""
                document.getElementById("body").value = ""
            })
    }
</script>
{% endblock %}

{% block content %}

{% include "components/header.html" with color="9" %}

<!-- Start Page Name area-->
<div class="page-title-area">
    <div class="container">
        <div class="content text-center">
            <h1>تماس با ما</h1>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index">صفحه اصلی</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active">تماس با ما</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Name area -->

<!-- Start Contact Area -->
<div id="contact" class="contact-area contact-6 pt-120 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="item-single mb-30">
                    <div class="icon">
                        <i class="fal fa-phone-plus"></i>
                    </div>
                    <div class="text">
                        <p dir="ltr"><a href="tel:+98 21 23 45 67">+98 21 2020</a></p>
                        <p dir="ltr"><a href="tel:+990456123789">+98 912 100 7000</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item-single mb-30">
                    <div class="icon">
                        <i class="fal fa-envelope"></i>
                    </div>
                    <div class="text">
                        <p><a href="mailTo:hello@example.com">hello@example.com</a></p>
                        <p><a href="mailTo:info@example.com">info@example.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item-single mb-50">
                    <div class="icon">
                        <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                        <p>سعادت آباد ، بلوار سرو غربی ، ساختمان تجاری اداری سرو</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title">
            <h2 class="title">تماس با ما</h2>
            <p class="">ما از هم صحبتی با شما خوشحال میشیم ، به ما پیام بده تا در اسرع وقت پاسخگوی شما باشیم
                .</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form id="contactForm" method="post" action="/internal/app/api/v1/user/ticket/create"
                      onsubmit="event.preventDefault(); userAction()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input type="text" name="guest_name" class="form-control" id="guest_name" required
                                       data-error="لطفا نام خودتون رو وارد کنید" placeholder="نام شما"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input minlength="11" maxlength="11" type="number" name="guest_mobile"
                                       class="form-control" id="guest_mobile" required
                                       data-error="لطفا شمراه همراه خودتون رو وارد کنید" placeholder="شماره هماره"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group mb-30">
                                <input type="text" name="title" class="form-control" id="title" required
                                       data-error="عنوان درخواست خود را وارد نمایید" placeholder="عنوان پیام"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-30">
                                <textarea name="body" id="body" class="form-control" cols="30" rows="8" required
                                          data-error="لطفا پیام خودتون رو وارد کنید"
                                          placeholder="پیامی بنویس ..."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn primary-btn" title="ارسال پیام">ارسال</button>
                            <div id="msgSubmit"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area -->

{% include "components/footer.html" with color="3" %}

{% endblock %}
