<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="description" content="Samu | Saas & Software HTML Template">
    <meta name="keywords" content="saas, responsive, premium, retina, resume, jquery, css3, bootstrap">

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="/assets/css/meanmenu.min.css">
    <!-- Owl-Carousel CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="/assets/css/rtl.css">
</head>
<body>

<!-- Start preloader -->
<div id="preLoader">
    <div class="wrapper">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <span class="text">در حال بارگیری...</span>
    </div>
</div>
<!-- End preloader -->


{% block content %}
{% endblock %}

<!-- Start Go to Top -->
<div class="go-top"><i class="fal fa-angle-up"></i></div>
<!-- End Go to Top -->

<!-- Jquery JS -->
<script src="/assets/js/jquery.min.js"></script>
<!-- Popper JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Waypoint JS -->
<script src="/assets/js/jquery.waypoints.js"></script>
<!-- Magnific Popup JS -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- CounterUp JS -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<!-- Meanmenu JS -->
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<!-- Owl-Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Lazysizes -->
<script src="/assets/js/lazysizes.min.js"></script>
<!-- RTL Script JS -->
<script src="/assets/js/rtl-script.js"></script>
</body>
</html>
