{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
{% include "components/header.html" with color="3" %}
{% block script %}
<script>
    const userAction = () => {
        fetch('/api/v1/user/ticket/create', {
            method: 'POST',
            body: JSON.stringify({
                guest_name: document.getElementById("guest_name").value,
                guest_mobile: document.getElementById("guest_mobile").value,
                title: document.getElementById("title").value,
                body: document.getElementById("body").value,
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((response) => response.json())
            .then(data => {
                alert(data.message)
                document.getElementById("guest_name").value = ""
                document.getElementById("guest_mobile").value = ""
                document.getElementById("title").value = ""
                document.getElementById("body").value = ""
            })
    }
</script>
{% endblock %}

<!-- Start Home Banner Area -->
<div class="home-banner-area banner-bg banner-3 pb-90">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content mb-30">
                    <h1 class="title">سلورا دستیار فروش شما در اینستاگرام و تلگرام</h1>
                    <p class="text text-white">سامانه مدیریت محصول و ارسال درب به درب سفارشات و پرداخت آنلاین</p>
                    <p class="text text-white">در سلورا شما میتوانید شبکه اجتماعی خود را تبدیل به یک فروشگاه آنلاین کنید
                        و از طریق درگاه آنلاین پرداخت هایتان را مدیریت کنید و سفارشات تان از درب به درب تحویل مشتری
                        دهید</p>
                    <a href="contact" class="btn primary-btn primary-btn-3">یک ماه استفاده رایگان</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-image image-right mb-30">
                    <div class="lazy-container aspect-ratio aspect-ratio-16-11">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png"
                             data-src="/assets/images/banner/b/banner-13.png" alt="پس زمینه بنر">
                    </div>
                    <a href="https://www.youtube.com/watch?v=QSwvg9Rv2EI" class="youtube-popup video-btn">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Home Banner Area -->

<!-- Start Features Area -->
<section id="features" class="features-area features-2 pt-120 pb-90">
    <div class="container">
        <div class="section-title">
            <span class="tag text-white">ویژگی های اپلیکیشن سلورا</span>
            <h2 class="title text-white"> برنامه ای جذاب با دنیای از ویژگی ها</h2>
            <p>سلورا به شما این امکان را میدهد که دیگر نگران مدیریت سفارشات خود را به صورت دستی نباشید و کارت به کارت
                کردن و روش های قدیمی را کنار بگذارید</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="item-single bg-blue mb-30">
                    <div class="icon blue"><i class="fal fa-laptop"></i></div>
                    <h3> کاملا بهینه شده </h3>
                    <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item-single bg-red mb-30">
                    <div class="icon yellow"><i class="fal fa-th-list"></i></div>
                    <h3>فهرست و تابلو</h3>
                    <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item-single bg-green mb-30">
                    <div class="icon red"><i class="fal fa-users"></i></div>
                    <h3>تیم های متعدد</h3>
                    <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Overview Area -->
<section id="overview" class="overview-area overview-2 mt-0 pb-90">
    <div class="container-fluid p-lg-0">
        <div class="row align-items-center gx-xl-5">
            <div class="col-lg-5 col-xxl-4">
                <div class="content mb-30">
                    <div class="section-title">
                        <span class="tag text-white">کمک به شما برای دسترسی بیشتر</span>
                        <h2 class="title text-white">معماری همگام سازی بلادرنگ سامو باعث افزایش سرعت و بی همتا شدنش
                            میشه</h2>
                        <p class="text-white">ما یک شرکت نرم افزاری هستیم که راه حل های نرم افزاری نوآورانه و موثری رو
                            برای کمک به مشتریانمون در دستیابی به اهداف تجاریشون ارائه میدیم.
                            ما معتقد به استفاده از آخرین فناوری برای ارائه بهترین خدمات ممکن به مشتریان خودمون هستیم و
                            همیشه به دنبال جدیدترین خدمات هستیم
                            راه هایی برای اینکه رویای مشتریانمون رو به حقیقت تبدیل کنیم.</p>
                        <a href="contact" class="btn primary-btn primary-btn-3">7 روز استفاده رایگان</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="image mb-30">
                    <div class="lazy-container aspect-ratio aspect-ratio-16-11">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png"
                             data-src="/assets/images/overview1.png" alt="تصویر نمای کلی">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview Area -->

<!-- Start Choose Area -->
<section id="choose" class="choose-area choose-3">
    <div class="container">
        <div class="row align-items-center gx-xl-5">
            <div class="col-lg-5">
                <div class="section-title">
                    <span class="tag text-white">دلایل انتخاب سامو</span>
                    <h2 class="title text-white">بهینه شده برای افزایش سرعت</h2>
                    <p>ما میتونیم برای هر شغلی که شما دارین ، در هر اندازه ای که باشه نرم افزار طراحی سفارشی رو بسازیم
                        .نرم افزار ما به شما کمک میکنه تا به سرعت کسب و کارتون رو توسعه بدین و به جلو پیش ببرین .</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon blue bg-blue">
                                <i class="fal fa-columns"></i>
                            </div>
                            <div class="content">
                                <h3 class="text-white">فهرست و تابلو</h3>
                                <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon green bg-green">
                                <i class="fal fa-comments"></i>
                            </div>
                            <div class="content">
                                <h3 class="text-white">تیم های متعدد</h3>
                                <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon red bg-red">
                                <i class="fal fa-sync-alt"></i>
                            </div>
                            <div class="content">
                                <h3 class="text-white">بدون بارگیری صفحه</h3>
                                <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="image image-right mb-30">
                    <div class="lazy-container aspect-ratio aspect-ratio-4-3">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png"
                             data-src="/assets/images/choose1.png" alt="انتخاب تصویر">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose ARea -->

<!-- Start Testimonial Area -->
<section id="testimonial" class="testimonial-area testimonial-3 pt-90">
    <div class="container">
        <div class="section-title">
            <h2 class="title text-white">400000 کاربر در سراسر جهان، ما رو با اعتماد فراوان دوست دارن</h2>
        </div>
        <div class="testimonial-slider owl-carousel">
            <div class="slider-item">
                <div class="image">
                    <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png"
                             data-src="/assets/images/client/client-7.jpg" alt="انتخاب تصویر">
                    </div>
                </div>
                <div class="content">
                    <p class="text">
                        تیم سامو بی نظیره ! اونها نرم‌افزار و پروژه‌های طراحی در مقیاس بزرگ رو در چندین استارت‌آپ و
                        مجموعه هایی با رشد بالا رهبری، مقیاس‌بندی و ارائه کردن که فوق العاده اس.
                    </p>
                    <div class="review yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="name text-white">آتنا کریمی</h3>
                </div>
            </div>
            <div class="slider-item">
                <div class="image">
                    <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png"
                             data-src="/assets/images/client/client-8.jpg" alt="انتخاب تصویر">
                    </div>
                </div>
                <div class="content">
                    <p class="text">
                        تیم سامو بی نظیره ! اونها نرم‌افزار و پروژه‌های طراحی در مقیاس بزرگ رو در چندین استارت‌آپ و
                        مجموعه هایی با رشد بالا رهبری، مقیاس‌بندی و ارائه کردن که فوق العاده اس.
                    </p>
                    <div class="review yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="name text-white">مهراد صنیعی</h3>
                </div>
            </div>
            <div class="slider-item">
                <div class="image">
                    <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png"
                             data-src="/assets/images/client/client-9.jpg" alt="انتخاب تصویر">
                    </div>
                </div>
                <div class="content">
                    <p class="text">
                        تیم سامو بی نظیره ! اونها نرم‌افزار و پروژه‌های طراحی در مقیاس بزرگ رو در چندین استارت‌آپ و
                        مجموعه هایی با رشد بالا رهبری، مقیاس‌بندی و ارائه کردن که فوق العاده اس.
                    </p>
                    <div class="review yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="name text-white">روهام جمشیدی</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Area -->

<!-- Start Pricing Area -->
<section id="pricing" class="pricing-area pricing-3 pt-120">
    <div class="container">
        <div class="section-title">
            <h2 class="title text-white">بهترین پلن قیمتی</h2>
            <p>و با این طراحی ساده سامو برای افزایش هر چه بیشتر سرعت و کارایی ساخته شده که به عملکر بالای تیم کمک شایانی
                میکنه و با این پلن های قیمتی جذابی که براتون آماده کردیم یه جورایی جیب به جیب میکنی و توی هزینه هات خیلی
                صرفه جویی میشه !! </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="item-single mb-30">
                    <div class="content">
                        <h3 class="label">رایگان</h3>
                        <span>
                                <span class="price">0 <small> تومان </small></span>
                                <span class="slash">/</span>
                                ماهیانه
                            </span>
                    </div>
                    <ul class="item-list list-unstyled p-0">
                        <li>صفحات نامحدود</li>
                        <li>بروز رسانی رایگان</li>
                        <li>پشتیبانی 24/7</li>
                        <li>بازدید صفحه نامحدود</li>
                        <li>خروجی به صورت HTML/CSS</li>
                    </ul>
                    <a href="pricing" class="btn primary-btn primary-btn-3">بزن بریم !</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="item-single mb-30">
                    <div class="content">
                        <h3 class="label">بیزنسی</h3>
                        <span>
                                <span class="price">30،000 <small> تومان </small></span>
                                <span class="slash">/</span>
                                ماهیانه
                            </span>
                    </div>
                    <ul class="item-list list-unstyled p-0">
                        <li>صفحات نامحدود</li>
                        <li>بروز رسانی رایگان</li>
                        <li>پشتیبانی 24/7</li>
                        <li>بازدید صفحه نامحدود</li>
                        <li>خروجی به صورت HTML/CSS</li>
                    </ul>
                    <a href="pricing" class="btn primary-btn primary-btn-3">بزن بریم !</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="item-single mb-30">
                    <div class="content">
                        <h3 class="label">حرفه ای</h3>
                        <span>
                                <span class="price">50،000 <small> تومان </small></span>
                                <span class="slash">/</span>
                                ماهیانه
                            </span>
                    </div>
                    <ul class="item-list list-unstyled p-0">
                        <li>صفحات نامحدود</li>
                        <li>بروز رسانی رایگان</li>
                        <li>پشتیبانی 24/7</li>
                        <li>بازدید صفحه نامحدود</li>
                        <li>خروجی به صورت HTML/CSS</li>
                    </ul>
                    <a href="pricing" class="btn primary-btn primary-btn-3">بزن بریم !</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing Area -->

<!-- Start Faq Area -->
<section id="faq" class="faq-area faq-2 ptb-90">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
                <div class="section-title">
                    <span class="tag text-white">سوالات</span>
                    <h2 class="title text-white">سوالات متداول</h2>
                </div>
                <div class="accordion" id="faqAccordion">
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                سامو چیست ؟
                            </button>
                        </h3>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                چطور سامو رو بخرم؟
                            </button>
                        </h3>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                میتونم از سامو به صورت رایگان استفاده کنم ؟
                            </button>
                        </h3>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                چطور از سامو استفاده کنم ؟
                            </button>
                        </h3>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image mb-30">
                    <img src="/assets/images/faq.png" alt="سوالات متداول">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Faq Area -->

<!-- Start Contact Area -->
<section id="contact" class="contact-area contact-3 ptb-120">
    <div class="container">
        <div class="section-title">
            <h2 class="title text-white">تماس با ما</h2>
            <p class="text-white">ما از هم صحبتی با شما خوشحال میشیم ، به ما پیام بده تا در اسرع وقت پاسخگوی شما باشیم
                .</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form id="contactForm" method="post" action="/api/v1/user/ticket/create"
                      onsubmit="event.preventDefault(); userAction()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input type="text" name="guest_name" class="form-control" id="guest_name" required
                                       data-error="لطفا نام خودتون رو وارد کنید" placeholder="نام شما"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input minlength="11" maxlength="11" type="number" name="guest_mobile"
                                       class="form-control" id="guest_mobile" required
                                       data-error="لطفا شمراه همراه خودتون رو وارد کنید" placeholder="شماره هماره"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group mb-30">
                                <input type="text" name="title" class="form-control" id="title" required
                                       data-error="عنوان درخواست خود را وارد نمایید" placeholder="عنوان پیام"/>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-30">
                                <textarea name="body" id="body" class="form-control" cols="30" rows="8" required
                                          data-error="لطفا پیام خودتون رو وارد کنید"
                                          placeholder="پیامی بنویس ..."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn secondary-btn" title="ارسال پیام">ارسال</button>
                            <div id="msgSubmit"></div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->

{% include "components/footer.html" with color="2" %}


{% endblock %}
