{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}

{% include "components/header.html" with color="9" %}

<!-- Start Page Name area-->
<div class="page-title-area">
    <div class="container">
        <div class="content text-center">
            <h1>نظرات کاربران درباره ما</h1>
            <ul class="list-unstyled">
                <li class="d-inline"><a href="index">صفحه اصلی</a></li>
                <li class="d-inline">/</li>
                <li class="d-inline active">نظرات</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Name area -->

<!-- Start Testimonial Area -->
<section id="testimonial" class="testimonial-area ptb-120">
    <div class="container">
        <div class="section-title">
            <h2 class="title">400000 کاربر در سراسر جهان، ما رو با اعتماد فراوان دوست دارن</h2>
        </div>
        <div class="testimonial-slider owl-carousel">
            <div class="slider-item">
                <div class="image">
                    <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png" data-src="/assets/images/client/client-1.jpg" alt = "تصویر شخص">
                    </div>
                </div>
                <div class="content">
                    <p class="text">
                        تیم سامو بی نظیره ! اونها نرم‌افزار و پروژه‌های طراحی در مقیاس بزرگ رو در چندین استارت‌آپ و مجموعه هایی با رشد بالا رهبری، مقیاس‌بندی و ارائه کردن که فوق العاده اس.
                    </p>
                    <div class="review yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="name">مهراد صنیعی</h3>
                </div>
            </div>
            <div class="slider-item">
                <div class="image">
                    <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png" data-src="/assets/images/client/client-2.jpg" alt = "تصویر شخص">
                    </div>
                </div>
                <div class="content">
                    <p class="text">
                        میتونم بگم پشتیبانی شما وافعا فوق العاده اس ! من یک قالبی رو ازتون خریده بودم و برای نصب به مشکل برخوردم ، دوستان پشتیبانی کاملا دقیق و اصولی مشکل رو حل کردن و به سرعت قالب رو برام نصب و راه اندازی کردن . </p>
                    <div class="review yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="name">روهام جمشیدی</h3>
                </div>
            </div>
            <div class="slider-item">
                <div class="image">
                    <div class="lazy-container aspect-ratio aspect-ratio-1-1">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png" data-src="/assets/images/client/client-3.jpg" alt = "تصویر شخص">
                    </div>
                </div>
                <div class="content">
                    <p class="text">
                        سامو بستر موفقیت رو همیشه برای ما هموار میکنه هر موقع وارد سایتتون میشم انرژی میگیرم. مدیریت و تیم پشتیبانی همیشه معجون انرژی هستید. اینطوری ادامه بدین. امیدوارم تو مسیر کاریتون و زندگیتون به مدارج عالی برسید.
                    </p>
                    <div class="review yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="name">آتنا کریمی</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial Area -->

<!-- Start Choose Area -->
<section id="choose" class="choose-area pb-90">
    <div class="container">
        <div class="row align-items-center gx-xl-5">
            <div class="col-lg-5">
                <div class="section-title">
                    <span class="tag">دلایل انتخاب سامو</span>
                    <h2 class="title">بهینه شده برای افزایش سرعت</h2>
                    <p>ما میتونیم برای هر شغلی که شما دارین ، در هر اندازه ای که باشه نرم افزار طراحی سفارشی رو بسازیم .نرم افزار ما به شما کمک میکنه تا به سرعت کسب و کارتون رو توسعه بدین و به جلو پیش ببرین   .</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon blue bg-blue">
                                <i class="fal fa-columns"></i>
                            </div>
                            <div class="content">
                                <h3>فهرست و تابلو</h3>
                                <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon green bg-green">
                                <i class="fal fa-comments"></i>
                            </div>
                            <div class="content">
                                <h3>تیم های متعدد</h3>
                                <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="item-single mb-30">
                            <div class="icon red bg-red">
                                <i class="fal fa-sync-alt"></i>
                            </div>
                            <div class="content">
                                <h3>بدون بارگیری صفحه</h3>
                                <p>برای کمک به بهبود بهره وری شخصی و تیم شما، سامو به ابزارهای موجود شما متصل میشه .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="image image-right mb-30">
                    <div class="lazy-container aspect-ratio aspect-ratio-4-3">
                        <img class="lazyload lazy-image" src="/assets/images/placeholder.png" data-src="/assets/images/choose1.png" alt="انتخاب تصویر">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Choose ARea -->
{% include "components/footer.html" with color="3" %}


{% endblock %}
