<!-- Start Footer Area -->
<footer id="footer" class="footer-area footer-{{color}}">
    <div class="footer-top pt-120 pb-90">
        <div class="container">
            <div class="row gx-xl-5">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-widget">
                        <div class="navbar-brand">
                            <a href="index">
                                <img src="/assets/images/logo/logo-2.png" alt="لوگو"/>
                            </a>
                        </div>
                        <p>قالب سامو این امکان را دارد که به منظور کمک برای بهبود بهره وری شخصی و تیم شما، به ابزارها،
                            خدمات و گردش کار موجود شما متصل شود. </p>
                        <div class="row">
                            <a class="col-sm-6 col-12" referrerpolicy="origin" target="_blank"
                               href="https://trustseal.enamad.ir/?id=301118&amp;Code=mCzis8D2y8j2Ngisx0ZF"><img
                                    referrerpolicy="origin"
                                    src="https://Trustseal.eNamad.ir/logo.aspx?id=301118&amp;Code=mCzis8D2y8j2Ngisx0ZF"
                                    alt="" style="cursor:pointer" id="mCzis8D2y8j2Ngisx0ZF"></a>
                            <img class="col-sm-6 col-12" referrerpolicy='origin' id = 'rgvjjxlzoeukfukzwlaorgvj' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=318643&p=xlaorfthmcsigvkaaodsxlao", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=318643&p=qftinbpdaqgwwlbqshwlqfti' />

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h3>شرکت</h3>
                        <ul class="footer-links">
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">درباره ما</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">تیم ما</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="services">محصولات</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="contact">تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h3>محصولات</h3>
                        <ul class="footer-links">
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">ویژگی ها</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="pricing">تعرفه</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">اعتبارات</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="blog">اخبار</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h3>دانلود</h3>
                        <ul class="footer-links">
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">IOS</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">اندروید</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">مایکروسافت</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">دسکتاپ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer-widget">
                        <h3>پشتیبانی</h3>
                        <ul class="footer-links">
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">حریم خصوصی</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="faq">راهنما</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="404-error">قوانین</a>
                            </li>
                            <li>
                                <i class="fal fa-angle-left"></i>
                                <a href="faq">سوالات متداول</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-area text-center {% if color == '2' %} text-light {% endif %}">
        <div class="container">
                <span>
                  برنامه نویسی و توسعه همراه با ❤️ توسط تیم سلورا
                </span>
        </div>
    </div>
</footer>
<!-- End Footer Area -->
